<%= content_for :title, "#{guide.title} / #{page.title} &middot; #{org_name(org)} #{version} Guides" %>

<%= content_for :meta do %>
  <meta name="docsearch:version" content="<%= [version_number, ("latest" if version == latest_version)].compact.join(",") %>">
<% end %>

<div class="md:grid md:grid-cols-6 md:gap-4">
  <aside class="md:col-span-1">
    <h2 class="font-semibold">All guides</h2>

    <ol data-testid="guides-list">
      <% other_guides.each do |guide_for_nav| %>
        <li>
          <a href="<%= guide_for_nav.url_path %>">
            <%= guide_for_nav.title %>
          </a>
          <% if guide.title == guide_for_nav.title %>
            <div class="ml-4">
              <%= render "doc_pages/pages_nav", pages: guide.pages.nested, testid: "pages-nav" %>
            </div>
          <% end %>
        </li>
      <% end %>
    <ol>
  </aside>

  <section class="md:col-span-5 md:grid md:grid-cols-5 md:gap-4">
    <aside class="md:col-span-1 md:order-2">
      <h2>On this page</h2>
      <%= render "doc_pages/headings_toc", headings: page.nested_headings, testid: "headings-toc" %>
    </aside>
    <div class="md:col-span-4">
      <header>
        <h1><%= guide.title %></h1>
      </header>

      <header>
        <h1><%= page.title %></h1>
      </header>

      <div class="content">
        <%= page.content_html %>
      </div>
    </div>
  </section>
</div>
